<!DOCTYPE html>
<html>
<head>
  <title>PicHome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1>PicHome</h1>
      <description>Inspiring picture for home lifestyle and diy</description></br>
      <div class="border"></div>
      <%= render "form" %>
    </header>

    <%= yield %>

  </div>
</body>
</html>
